lef_sidebar_admin.ejs<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <style>
            h2.color_azul{
                color:#0069d9;
            }
        </style>
        <h2 class="color_azul" >&nbsp;&nbsp;LTS | PANAMA</h2>
        <!--<a href="#">
            <img src="images/LOGO.png" alt="LTS PANAMA" width="180" />-->
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    
                <li>
                    <a href="/counter/todo">
                        <i class="fas fa-chart-bar"></i>Crear Pedidos</a>
                </li>
               
                
            </ul>
        </nav>
    </div>
</aside>